{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Регистрация</h4>
                    </div>
                    <div class="card-body">
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary">
                                    Регистрация
                                </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}