{% extends 'catalog/base.html' %}
{% block content %}
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Адрес</td>
                            <td>{{ object_list.address }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Тел.</td>
                            <td>{{ object_list.telephone_number }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Email</td>
                            <td>{{ object_list.email }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name">Имя</label>
                            {% csrf_token %}
                            <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            {% csrf_token %}
                            <input type="text" name="email" class="form-control" id="email" placeholder="Email" required>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}